<div class="row">
  <div class="col-xs-12">
      <img [src]="detailreso.imagePath"
       alt="{{detailreso.name}} " 
      class="img-responsive"
      style="max-height: 300px;">
  </div> 
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>
          {{detailreso.name}}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div 
        class="btn-group" 
        appDropdown>
            <button 
            type="button"
            class="btn btn-primary dropdown-toggle">
            Manage Resource<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a (click)="addToshoppinglist()" style="cursor: pointer;">The Project shopping list</a></li>
                <li><a style="cursor: pointer;" (click)="onEditResource()">Edit Resource</a></li>
                <li><a style="cursor: pointer;">Delete Resource</a></li> 
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{detailreso.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let req of detailreso.projectrequirements">{{req.name}}</li>
        </ul>
    </div>
</div>
